# Node modules
node_modules/

# Build output
build/
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
*.log
*.lock
*.swp
*.swo
